<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	 
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.action.AdminServlet</servlet-class>
  </servlet>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AfficheServlet</servlet-name>
    <servlet-class>com.action.AfficheServlet</servlet-class>
  </servlet>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewsServlet</servlet-name>
    <servlet-class>com.action.NewsServlet</servlet-class>
  </servlet>
   
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ComServlet</servlet-name>
    <servlet-class>com.action.ComServlet</servlet-class>
  </servlet>
 
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MemberAction</servlet-name>
    <servlet-class>com.action.MemberAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MemberManageAction</servlet-name>
    <servlet-class>com.action.MemberManageAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>com.action.LoginAction</servlet-class>
  </servlet>





 

	 
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
   
  <servlet-mapping>
    <servlet-name>AfficheServlet</servlet-name>
    <url-pattern>/Affiche.shtml</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>NewsServlet</servlet-name>
    <url-pattern>/News.shtml</url-pattern>
  </servlet-mapping>
   
  <servlet-mapping>
    <servlet-name>ComServlet</servlet-name>
    <url-pattern>/ComServlet</url-pattern>
  </servlet-mapping>
   
  <servlet-mapping>
    <servlet-name>MemberAction</servlet-name>
    <url-pattern>/Member</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemberManageAction</servlet-name>
    <url-pattern>/MemberManage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
	 
</web-app>
